/* Variables */
:root {
  --color-primario: #0a7f86;
  --color-primario-oscuro: #07686d;
  --color-primario-claro: #6a8f93;
  --color-fondo: #f2ede7;
  --color-fondo-nav: #ece8e4;
  --blanco: #ffffff;
}

/* Fondo general */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ece8e4;
}

/* Contenedor */
.dashboard {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

/* Header */
.dashboard-title {
  margin: 10px 0 5px;
  font-size: 28px;
  font-weight: 600;
  color: #07686d;
  background-color: #ffffff;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.dashboard-subtitle {
  color:  #0a7f86;
  font-size: 14px;
}

/* Botón volver */
.btn-volver {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #07686d;
  font-size: 14px;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.btn-volver:hover {
  background-color: #07686d;
  color: #ffffff;
}

/* Card */
.form-card {
  background:#07686d;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* Grid */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: span 2;
}

/* Labels */
label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 500;
}

/* Inputs */
input, select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fafafa;
  transition: all 0.2s ease;
}

input:focus, select:focus {
  outline: none;
  border-color: var(--color-primario);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
}

/* Acciones */
.form-acciones {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Botón guardar */
.btn-guardar {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f2ede7;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.btn-guardar:hover {
  background-color: #ffffff;
}

/* Botón cancelar */
.btn-cancelar {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  background-color: #f2ede7;
  color:rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
}

.btn-cancelar:hover {
  background-color: #ffffff;
}

/* Alertas */
.alert {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}

.alert-success {
  background-color: #e0f2f3;
  color: var(--color-primario-oscuro);
}

.alert-error {
  background-color: #fdecea;
  color: #c62828;
}

/* Responsive */
@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .full-width {
    grid-column: span 1;
  }
}